#loginScreen {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: calc(100% - 50px);
	width: 100%;

	#loginContainer {
		width: 95%;
		max-width: 400px;

		&.extended {
			max-width: 600px;
		}

		form {
			display: block;
			margin: 0 auto;
			background: white;

			.gap {
				display: block;
				margin: 40px 0;
			}

			h3 {
				margin-top: 0;
			}

			.panel-title {
				font-size: 25px;
				font-weight: 100;
			}

			#loginInput {
				padding: 40px;
			}
		}
	}
}