nav.navbar {

    #logo {
        background: url('../images/logo.png') no-repeat center;
        background-size: 40px;
        width: 50px;
        height: 50px;
    }

    #profileAvatar {
      display: inline-block;
      img {
        border-radius: 50%;
      }
    }

    #profileName {
        display: inline-block;
        margin-left: 15px;
    }
}


#content {
	padding: 30px 20px 10px;
}

thead {
	border: none;
}

#msg {
	position: relative;
	font-size: 15px;
	padding: 4px;
	margin: 3px 0 12px;
	border: 2px solid;
	text-align: center;
}
.msg {
	position: relative;
	font-size: 15px;
	padding: 4px;
	margin: 3px 0 12px;
	border: 2px solid;
	text-align: center;
}
.error {
	background: #e19d9d;
	color: white;
	border-color: #a44545 !important;
}
.success {
	background: #a5e9a8;
	border-color: #3fa244 !important;
}
.warning {
	background: #FFD294;
	border-color: #ec9f36 !important;
}
.err-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	font-style: italic;
	background: rgba(255, 255, 255, 0.5);
	color: #444;
	padding: 1px 3px;
	&:hover {
		background: rgba(255, 255, 255, 0.7);
		color: #222;
		cursor: pointer;
		text-decoration: none;
	}
}
.red {
	font-weight: bold;
	background: #e19d9d;
	color: white;
	padding: 2px 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	&:hover {
		cursor: help;
	}
}
.tooltips {
	display: inline-block;
	background: url(../images/tip.png) no-repeat;
	padding: 3px;
	margin: 1px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.spacer-bottom {
	margin-bottom: 20px;
}

// bootstrap replacements
.page-header.clean {
	margin-top: 0;
	h1 {
		margin: 0;
		font-size: 30px;
	}
}

.page.no-bottom {
	margin-bottom: 0;
}

.align-left {
	text-align: left !important;
	padding-left: 0;
}

ul li a:not([href=""]) {
	cursor: pointer;
}

