@import "components/vars";
@import "components/defaults";
@import "components/form";
@import "components/login";
@import "components/global";

body, html {
	height: 100%;
	width: 100%;
}

ul li a:not([href=""]) {
	cursor: pointer;
}

#content-lower {
	font-size: 12px;
	background: #d7d7d7 url(../images/content-lower.png) repeat-x;
	padding: 5px;
	border: 1px solid #fdfdfd;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	a {
		color: #999;
		text-decoration: none;
		text-shadow: 1px 1px 2px #bbb;
		&:hover {
			color: #777;
		}
	}
}

.cdd {
	position: relative;
	a {
		&:hover {
			cursor: default;
		}
	}
	&:hover {
		color: #202020;
		cursor: pointer;
	}
}

p.last-seen {
	font-size: 14px;
	color: #333;
	padding: 5px;
	margin: 20px 0 0;
	border-top: 1px solid #ccc;
	text-align: center;
}

.desc-img {
	opacity: 0.5;
	&:hover {
		opacity: 0.8;
	}
}
.asc-img {
	opacity: 0.5;
	&:hover {
		opacity: 0.8;
	}
}
span.off {
	color: #ba110d;
}
span.on {
	color: #57b054;
}
div.under-table {
	color: #444;
	margin: 8px 3px 0;
}
.num-rows {
	font-size: 15px;
	float: left;
}
.pages {
	font-size: 12px;
	float: right;
}
.page {
	background: #fcfcfc;
	padding: 3px;
	border: 1px solid #ddd;
	&:hover {
		color: #000;
		border-color: #bbb;
		text-decoration: none;
	}
}
.current {
	color: #FF3333 !important;
}
#footer {
	margin: 10px;
	height: 15px;
	p {
		font-size: 15px;
		color: lighten(black, 50);
		text-align: center;

		a {
			color: lighten(black, 50);
			text-decoration: none;
		}
	}
}
.copy {
	float: left;
	a {
		color: #fdfdfd;
	}
}
.links {
	float: right;
}
.foot-nav {
	a {
		color: #EFEFEF;
		padding: 1px 2px;
		text-decoration: underline;
		&:hover {
			color: #EEE;
		}
		&:active {
			color: #D6D6D6;
			text-decoration: none;
		}
	}
}
.p-expired {
	color: #00b800;
}
.p-permanent {
	font-weight: bold;
	color: #cb0000;
}
.p-active {
	font-weight: bold;
	color: #cb7c00;
}
.p-inactive {
	font-weight: bold;
	color: #666666;
}
#c-search {
	position: relative;
}
#c-s-load {
	vertical-align: middle;
	visibility: hidden;
}
.load {
	background: url(../images/indicator.gif) left no-repeat;
}
#result {
	font-size: 16px;
	background-color: #FFFF99;
	color: #333;
	padding: 5px;
	margin-bottom: 10px;
	height: 20px;
}
.suggestionsBox {
	position: absolute;
	top: 38px;
	left: 39px;
	border: 1px solid #C9C9C9;
	width: 220px;
	z-index: 100;
}
.suggestionList {
	ol {
		li {
			background: #efefef;
			color: #444;
			padding: 5px;
			border-bottom: 1px dotted #999;
			opacity: 0.95;
			list-style: none;
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background-color: #a4c9e5;
				color: #222;
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}
#suggest {
	position: relative;
}
label.uname {
	&:hover {
		color: #bbb;
	}
}
#map-box {
	margin: 20px auto;
	border: 1px solid #ddd;
	width: 801px;
}
#add-user-form {
	margin: 0 auto;
	width: 91%;
}
.left-side {
	margin: 0 0 10px 30px;
	float: left;
	width: 37%;
	input {
		display: block;
	}
	select {
		display: block;
	}
	label {
		display: block;
		margin-top: 8px;
	}
}
.ip-label {
	display: block;
	margin-top: 8px;
}
#add-user-submit {
	margin: 5px 20px;
}
#add-bl-submit {
	margin: 5px 20px;
}
#add-user-form-2 {
	.check-line {
		padding: 2px 0;
		margin: 2px 0;
		border-bottom: 1px solid #efefef;
	}
}
.action {
	background: none !important;
	padding: 2px !important;
	margin: 0 !important;
	border: none;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
}
.plus {
	background: url(../images/add.png) no-repeat !important;
}
.del {
	background: url(../images/delete.png) no-repeat !important;
}
.edit-key-comment {
	display: none;
	&:hover {
		cursor: pointer;
	}
}
.perm-check {
	padding: 0 20px 0 0;
}
.user-table {
	margin-bottom: 25px;
	border: none;
	tbody {
		tr {
			border-bottom: 1px solid #F4F4F4;
			th {
				background: none;
				border: none;
				text-align: right;
				width: 15%;
			}
			td {
				border: none;
				width: 35%;
			}
		}
	}
}
.error-msg {
	font-size: 18px;
	padding: 20px;
	margin: 70px 20px;
	border: 2px solid #ae2525;
	float: right;
	width: 46%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.reg {
	font-style: italic;
	margin: 3px 25px 6px;
}
#reg-setup {
	margin: 0 auto;
	width: 94%;
	label {
		display: block;
	}
	input {
		display: block;
	}
	input[type="text"] {
		width: 195px;
	}
	input[type="password"] {
		width: 195px;
	}
}
#uname-check {
	float: left;
}
.result {
	display: none;
	position: relative;
	top: 4px;
	font-size: 14px;
	background: #efefef;
	padding: 7px 5px;
	border: 1px solid #bbb;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.r-bad {
	background: #CB908B;
	color: #fdfdfd;
	border-color: #BD3F32;
}
.r-good {
	background: #9ACA86;
	border-color: #5f9249;
}
.loader {
	display: none;
	position: relative;
	top: 5px;
	float: left;
}
#perms {
	border: none;
	tbody {
		tr {
			border: none;
			td {
				border: none;
			}
		}
	}
}
.perm-td {
	border-right: 1px solid #ededed !important;
	label {
		font-size: 16px;
		padding-right: 4px;
	}
	&:last-child {
		border: none !important;
	}
}
#perms-fs {
	padding: 10px;
	margin: 3px;
	float: none;
	width: auto;
}
.chat-cmd {
	font-weight: bold;
	color: blue;
}
.chat-fh {
	display: block;
	padding-bottom: 2px;
	margin: 10px 0 3px;
	border-bottom: 1px solid #ccc;
	width: 50%;
}
.animate {
	&:hover {
		background-image: none;
	}
}

// Settings.css styles

.email-msg textarea { height: 99px; width: 340px; max-width: 340px; }
p.tip { margin-left: 10px; font-size: 13px; }

.spacer {
	margin: 10px 0;
}


// Client Details Stuff :)
#clientInfo {
	h3 {
		margin: 0;
	}

	.profileItem {
		display: table;
		width: 100%;

		&:nth-child(odd) {
			background-color: #f9f9f9;
		}

		&:last-child {
			margin-bottom: 15px;
		}

		.title, .body {
			display: table-cell;
		}

		.title {
			width: 30%;
			font-size: 12px;
			padding: 8px 0 8px 15px;
			word-break: break-all;
		}

		.body {
			width: 65%;
			word-break: break-all;
			padding-right: 15px;
			font-size: 12px;
		}
	}

}

#xlrstats-table {
	font-size: 12px !important;
}

#actionNav {
	a {
		cursor: pointer;
	}
}

#actionContent {

}


.act-slide { display: none; }

//table.cd-table { margin-bottom: 25px; border: none; }
//.cd-table tbody tr { border-bottom: 1px solid #F4F4F4; }
//.cd-table tbody tr th { width: 15%; background: none; border: none; text-align: right; }
//.cd-table tbody tr td { width: 35%; border: none; }
//
//div#actions { margin-bottom: 25px; }
//
//#cd-act-comment { display: block; }
//
//#chats-box { background: #f3f3f3; padding: 15px; border: 1px solid #CCC; -moz-border-radius: 7px; -webkit-border-radius: 7px; }
//.chat-content { display: none; }
//#chat-tab-0 { display: block; }
//
//.xlr { height: 7px; }
//
//.cd-h { margin: 20px 0 4px; border-bottom: 1px solid #efefef; padding-bottom: 3px; }
//.cd-open-close:hover, .cd-slide, #cd-h-admin:hover, #cd-h-pen:hover { cursor: pointer; }
//img.cd-open { float: right; padding: 3px; margin: 8px; }
//
//.cd-table-fold { display: none; }
//#cd-tr-load-pen td { text-align: center; }
//#cd-tr-load-pen:hover { background : #fff; }
//.load-large { margin: 15px; }
//
//#eb-reason, #reason { width: 350px; }
//input.dur { width: 60px; }
//
//.unban-form { width: 18px; display: inline; }
//.edit-ban:hover { cursor: pointer; }
//.eb-fs { display: block; float: none !important; width: 93% !important; }
//
//#edit-ban { margin: 25px; }

/* ColorBox Core Style */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:none; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:#000;}

#colorbox{}
#cboxTopLeft{width:14px; height:14px; background:url(../images/colorbox/controls.png) 0 0 no-repeat;}
#cboxTopCenter{height:14px; background:url(../images/colorbox/border.png) top left repeat-x;}
#cboxTopRight{width:14px; height:14px; background:url(../images/colorbox/controls.png) -36px 0 no-repeat;}
#cboxBottomLeft{width:14px; height:43px; background:url(../images/colorbox/controls.png) 0 -32px no-repeat;}
#cboxBottomCenter{height:43px; background:url(../images/colorbox/border.png) bottom left repeat-x;}
#cboxBottomRight{width:14px; height:43px; background:url(../images/colorbox/controls.png) -36px -32px no-repeat;}
#cboxMiddleLeft{width:14px; background:url(../images/colorbox/controls.png) -175px 0 repeat-y;}
#cboxMiddleRight{width:14px; background:url(../images/colorbox/controls.png) -211px 0 repeat-y;}
#cboxContent{background:#fff;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(../images/colorbox/loading_background.png) center center no-repeat;}
#cboxLoadingGraphic{background:url(../images/colorbox/loading.gif) center center no-repeat;}
#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(../images/colorbox/controls.png) 0px 0px no-repeat; width:23px; height:23px; text-indent:-9999px;}
#cboxPrevious{left:0px; background-position: -51px -25px;}
#cboxPrevious.hover{background-position:-51px 0px;}
#cboxNext{left:27px; background-position:-75px -25px;}
#cboxNext.hover{background-position:-75px 0px;}
#cboxClose{right:0; background-position:-100px -25px;}
#cboxClose.hover{background-position:-100px 0px;}

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}


