div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, html, body, pre, form {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ul, ol {
	list-style-position: inside;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }
h6 { font-size: 100%; }

label {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #bbb;
	font-size: 17px;
	&:hover {
		cursor: pointer;
		color: #aaa;
	}
}

fieldset {
	-webkit-border-radius: 2px 9px 2px 9px;
	-moz-border-radius: 2px 9px 2px 9px;
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
	margin: 20px 4px;
	padding: 12px;
}

input {
	margin: 0;
	padding: 0;
	&:hover {
		border-color: #C2C2C2;
		-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	}
	&:focus {
		border-color: #82c2e3;
		-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
		outline: 0;
	}
}
p {
	margin: 0;
	padding: 0;
}
blockquote {
	margin: 0;
	padding: 0;
}
th {
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}
td {
	margin: 0;
	padding: 0;
	border: 1px solid #CCC;
	border-collapse: collapse;
	font: small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #CCC;
	border-collapse: collapse;
	font: small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	width: 100%;
	border: none;
	border: 1px solid #CCC;
	display: table;
	a {
		&:link {
			color: #666;
			border-bottom: 1px dotted #dedede;
		}
		&:visited {
			color: #777;
		}
		&:hover {
			color: #036;
			text-decoration: none;
		}
		&:active {
			color: #036;
		}
	}
}
img {
	border: 0;
}
address {
	font-style: normal;
	font-weight: normal;
}
caption {
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-align: left;
	font-size: 20px;
	padding: 0 10px;
	color: #333;
	font-family: Georgia, "Times New Roman", Times, serif;
	small {
		font-size: 11px;
		color: #666;
		margin-left: 5px;
		padding-left: 5px;
		border-left: 1px solid #ccc;
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}
	.cap-link {
		float: right;
		padding: 1px 3px;
		border: 1px solid #bbb;
		background: #eee;
		font-size: 15px;
	}
}
cite {
	font-style: normal;
	font-weight: normal;
}
code {
	font-style: normal;
	font-weight: normal;
}
dfn {
	font-style: normal;
	font-weight: normal;
}
em {
	font-style: normal;
	font-weight: normal;
	font-style: italic;
}
strong {
	font-style: normal;
	font-weight: normal;
	font-weight: bold;
}
var {
	font-style: normal;
	font-weight: normal;
}
q {
	&:before {
		content: '"';
	}
	&:after {
		content: '"';
	}
}
a {
	img {
		border: none;
	}
	&:active {
		outline: none;
		color: #76bdd4;
	}
	&:focus {
		outline: none;
	}
	color: #3ea1c2;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
br.clear {
	height: 1px;
	margin-top: -1px;
	clear: both;
}
.block {
	display: block;
}
em.small {
	font-size: 85%;
	padding: 2px;
}
a.external {
	padding-right: 13px;
	background: url(../images/external-link.jpg) no-repeat center right;
}

hr {
	height: 1px;
	color: #ccc;
	margin: 20px;
}
hr.panel {
	color: #333;
}