
input, select, textarea {
	-webkit-appearance: none;
}

input[type=text] {
	padding: 9px;
	border: solid 1px #C9C9C9;
	outline: 0;
	width: 200px;
	margin: 4px;
	background-color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=password] {
	padding: 9px;
	border: solid 1px #C9C9C9;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	margin: 4px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
textarea {
	padding: 9px;
	background-color: white;
	border: solid 1px #C9C9C9;
	outline: 0;
	margin: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	max-width: 400px;
	height: 150px;
	width: 400px;
	line-height: 150%;
	&:hover {
		border-color: #C2C2C2;
		-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	}
	&:focus {
		border-color: #82c2e3;
		-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
		-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
		outline: 0;
	}
}

label {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #bbb;
	font-size: 17px;
	&:hover {
		cursor: pointer;
		color: #aaa;
	}
}

fieldset {
	-webkit-border-radius: 2px 9px 2px 9px;
	-moz-border-radius: 2px 9px 2px 9px;
	background: #F8F8F8;
	border: 1px solid #BBBBBB;
	margin: 20px 4px;
	padding: 12px;
}

input {
	margin: 0;
	padding: 0;
	&:hover {
		border-color: #C2C2C2;
	}
	&:focus {
		border-color: #82c2e3;
		outline: 0;
	}
}

select {
	padding: 8px;
	background-color: white;
	border: solid 1px #C9C9C9;
	outline: 0;
	line-height: 150%;
	width: 200px;
	margin: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: 400;
	-webkit-border-radius: 3px;
	&:hover {
		border-color: #C2C2C2;
		cursor: pointer;
	}
	&:focus {
		border-color: #82c2e3;
		outline: 0;
	}
}
option {
	padding: 0 3px;
	border-bottom: 1px solid #ededed;
}
input[type=hidden] {
	display: none !important;
}
input[type=checkbox] {
	margin: 3px;
	display: inline !important;
}
input[disabled=disabled] {
	opacity: 0.5;
	&:hover {
		opacity: 0.5;
	}
}
input.longer {
	width: 240px;
}
.sm-f-select {
	display: inline;
	select {
		display: inline;
		padding: 2px;
		border: 1px solid #4cb1dc;
		margin: 0 3px;
		font-size: 10px;
		width: auto;
	}
	small {
		border: none;
		padding: 0;
		margin: 0;
	}
}
small.n {
	border: none;
	padding: 0;
	margin: 0;
}
#search {
	width: 210px;
}
#change-pw {
	display: inline;
	margin: 3px 0 14px 3px;
}
#pass1 {
	float: left;
}
#edit-settings {
	input {
		display: block;
	}
	textarea {
		display: block;
	}
}
.int {
	width: 20px !important;
	text-align: left;
	display: inline !important;
}
.form-left {
	width: 48%;
	float: left;
	padding-right: 5px;
	border-right: 1px solid #eee;
	margin-right: 5px;
}
.form-right {
	width: 44%;
	float: right;
}
td.actions {
	form {
		display: inline;
		input[type=image] {
			border: none;
			margin: 1px;
		}
	}
}
input[type=submit] {
	background: #222 url(../images/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	border: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	&:visited {
		background: #222 url(../images/overlay.png) repeat-x;
		display: inline-block;
		padding: 5px 10px 6px;
		color: #fff;
		text-decoration: none;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
		border-bottom: 1px solid rgba(0, 0, 0, 0.25);
		position: relative;
		cursor: pointer;
		border: none;
		font-size: 13px;
		font-weight: bold;
		line-height: 1;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	}
	&:hover {
		background-color: #111;
		color: #fff;
	}
	&:active {
		top: 1px;
	}
}
input[type=submit].small {
	font-size: 11px;
	&:visited {
		font-size: 11px;
	}
}
input[type=submit].medium {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	&:visited {
		font-size: 13px;
		font-weight: bold;
		line-height: 1;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	}
}
input[type=submit].large {
	font-size: 14px;
	padding: 8px 14px 9px;
	&:visited {
		font-size: 14px;
		padding: 8px 14px 9px;
	}
}
input[type=submit].super {
	font-size: 34px;
	padding: 8px 14px 9px;
	&:visited {
		font-size: 34px;
		padding: 8px 14px 9px;
	}
}
input[type=submit].green {
	background-color: #91bd09;
	&:visited {
		background-color: #91bd09;
	}
	&:hover {
		background-color: #749a02;
	}
}
input[type=submit].red {
	background-color: #e62727;
	&:hover {
		background-color: #cf2525;
	}
}
.input[type=submit].red {
	&:visited {
		background-color: #e62727;
	}
}
input[type=submit].blue {
	background-color: #2981e4;
	&:visited {
		background-color: #2981e4;
	}
	&:hover {
		background-color: #2575cf;
	}
}
legend {
	background: #F8F8F8;
	border: 1px solid #BCBCBC;
	font-size: 17px;
	padding: 4px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
fieldset.none {
	width: 44%;
	float: left;
	border: 1px solid #ddd;
	padding: 12px;
	margin: 14px 10px;
	background: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	legend {
		border: 1px solid #ddd;
		border-bottom: none;
		padding: 4px 8px;
		font-size: 14px;
		background: none;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
	}
	input {
		display: block;
	}
	input[type=password] {
		width: 225px;
	}
	input[type=text] {
		width: 225px;
	}
	fieldset.none {
		width: 88%;
	}
}
fieldset.wide {
	width: 93% !important;
	input {
		display: inline;
		margin-right: 10px;
	}
}